<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Successfully logged in Admin</h1>
    <h2><%= user.name %></h2>
    <a href="/admin/podcast/new">Create Podcast</a>
    <a href="/admin/podcastList">View Podcast List</a>
</body>
</html>