<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
   <h1>Welcome to Podcast App</h1>
  </body>
</html>
