<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <a href="/users/logout">Logout</a>
    <a href="/client/podcast/new">Create Podcast</a>
    <a href="/client/podcastList/myPodcasts">My Podcast List</a>
    <h2>Podcast List of Premium Users</h2>
    <% allPodcasts.forEach(p => { %>
        <div>
            <img src="<%= p.podcastUrl %>" alt="podcast">
        </div>
            <h3><%= p.name %></h3>
            <a href="/client/podcast/<%= p.id %>">Show More</a>
    <% }) %>
</body>
</html>